.btn-rock {
  background-color: #000;
  color: #fff;
  border: 2px solid #8b0000;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-rock:hover {
  background-color: #8b0000;
  border-color: #000;
}
