.contenedorTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    font-weight: bold;
}

