<div>
    <h1 class="tituloNovedades" style="font-weight: bold;">
        ¡Últimas novedades!
    </h1>
</div>

<!-- Productos: Libros -->
<div class="container">
    <div class="row">
        <div *ngFor="let i of Libro" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top" alt="{{ i.alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.tituloLibro }}</h5>
                    <p class="card-text">
                        <!--
                        Usa el pipe 'number' para formatear con separador de miles
                        y agrego manualmente el símbolo $
                    -->
                        Precio: ${{ i.precio | number:'1.0-0' }}
                    </p>
                    <p class="card-text">{{ i.autor }}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#verInformacion"
                        (click)="verInformacion(i)">
                        Agregar al Carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Libros -->

<!-- Productos: Musica (Álbumes) -->
<!-- <div class="container">
    <div class="row">
        <div *ngFor="let i of infoMusica" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top" alt="{{ i.alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.tituloDisco }}</h5>
                    <p class="card-text">Precio: ${{ i.precio | number:'1.0-0' }}</p>

                    <p class="card-text">{{ i.artista }}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal"
                        data-bs-target="#verMasInformacion" (click)="verMasInformacion(i)">
                        Agregar al Carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Usa el pipe 'number' para formatear con separador de miles y agrega manualmente el símbolo $ -->