.container {
    display:flex;
    justify-content: center;
    /*1rem = 16px*/
    padding: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
}

img {
    height: 8rem;
    /*Propiedad para ajustar tamaño al contenido manteniendo la calidad*/
    object-fit: cover;
}


/*Pantalla de computadora*/
@media (min-width: 751px) {
    .card {
        width: 16rem;
    }
}

/*Pantalla de celular*/
@media (max-width: 750px) {
    .card {
        width: 9rem;
    }
}