<h1>Sección de Productos</h1>
<!--
    lg (larger): Tamaño de pantalla más grande -> PC

    md (media): Tamaño de pantalla medio -> Tablet
    
    sm (small): Tamaño de pantalla chico -> Celular
-->
<div class="container">
    <div class="row">
        <!--*ngFor - Es una directiva que permite iterar colecciones/arreglos.
        funcionalidad similar al "for", "forEach"
        -->

        <!--
        let i -> definición de la variable que representa 1 elemento 
        de la colección "InfoTarjeta" (permite iterar)
        -->
        <div *ngFor="let i of infoTarjeta" class="col-3">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top" alt="{{ i.alt }}">
                <div class="card-body">
                    <!--
                    Interpolación -> Permite accedere a una propiedad 
                    especifica del modelo
                    -->
                    <h5 class="card-title">{{ i.titulo }}</h5>
                    <p class="card-text">{{ i.descripcion }} - {{ i.anualPublicacion }}</p>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
</div>