p {
    color: rgb(42, 63, 56);
    font-size: 30;
}

.navegador {
    background-color: white !important;
}

footer {
    background-color: white;
    color: #000;
    text-align: center;
    padding: 20px 0;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #660000;
}