p {
    color: rgb(42, 63, 56);
    font-size: 30;
}

.navegador {
    background-color: white !important;
}

footer {
    background-color: white;
    color: #000;
    padding: 40px 20px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 3px solid white;
}

footer h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-links {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: pink;
}

/* Redes */
.footer-social a {
    color: black;
    font-size: 1.4rem;
    transition: color 0.3s ease, transform 0.2 ease;
}

.footer-social a:hover {
    color: white;
    transform: scale(1.1);
}

/* Texto final */
.footer-copy {
    font-size: 0.9rem;
    color: #000;
    border-top: 1px solid #0000;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* Responsivo */
@media (max-width: 600px) {
    footer {
        padding: 30px 10px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}

.imagen-oferta {
     max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}