/*cuando se pasa el mouse la card sube 4 píxeles, dando efecto de flotación.*/
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  margin: 1rem; 
  color: white; 
  font-weight: bold;
}