h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}

.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    margin: 1rem;
}

.btn-action {
    background-color: black;
    color: pink;
}

.btn-action:hover {
    background-color: deeppink;
}

.imagenTarjeta {
  height: 20rem;
  object-fit: cover;
}

