h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    margin: 1rem;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

