.btn-action {
    background-color: #FFE9D5;
    color: pink;
}

.btn-action:hover {
    background-color: deeppink;
}

.contenedorTarjetas {
    margin-left: 10rem;
}

/*Titulo llamado por ID*/
#title {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem;
}

/*1rem = 16px*/
.card {
    margin: 1rem;
}