.btn-action {
    background-color: black;
    color: pink;
}

.btn-action:hover {
    background-color: deeppink;
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/*Titulo llamado por ID*/
#title {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem;
}

/*1rem = 16px*/
.card {
    margin: 1rem;
    border-radius: 5px;
}

.barraSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin: 1rem;
}
