.btn-action {
    background-color: black;
    color: pink;
}

.btn-action:hover {
    background-color: deeppink;
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 1rem;
}

/*Titulo llamado por ID*/
#title {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem;
}

/*1rem = 16px*/
.card {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin: 1rem;
}

.barraSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    /* margin: 1rem; */
}

.tituloh3 {
    padding: 1rem;
    color: white;
}

.imagenTarjeta {
    height: 20rem;
    object-fit: cover;
}

.imagenTarjeta2 {
    height: 30rem;
    object-fit: cover;
}