.btn-action {
  background-color: black;
  color: #ff0000;
}

.btn-action:hover {
  color: white;
}

/*Titulo llamado por ID*/
#title {
  color: white;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}


.barraSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.5rem;
}

.tituloh3 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: white;
}

/*Para que las imágenes se vean de igual tamaño*/
.imagenTarjeta {
  height: 20rem;
  object-fit: cover;
}

.imagenTarjeta2 {
  height: 30rem;
  object-fit: cover;
}

.info-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px auto;
  max-width: 1100px;
}

/*cuando se pasa el mouse la card sube 4 píxeles, dando efecto de flotación.*/
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.icon {
  background-color: #eee;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.carousel-img {
  width: 100%;
  max-width: 70%;
  /* se ve grande pero no exagerado en PC */
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* Tablets */
@media (max-width: 992px) {
  .carousel-img {
    max-width: 500px;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .carousel-img {
    max-width: 100%;
    /* ocupa casi toda la pantalla */
  }
}

#carouselExampleIndicators {
  background-color: #111;
  padding: 20px 0;
  border-radius: 10px;
}