<h1 id="title">Usagi's Horror Books</h1>

<!-- Carrusel del Home -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Banner Black Friday Moderno.png" class="img-fluid w-50 d-block mx-auto"
                alt="Black Friday">
            <!-- hace que la imagen se adapte al tamaño de pantalla, 
            ocupe la mitad del ancho, y quede perfectamente centrada dentro del carrusel -->
        </div>
        <!-- -->
        <div class="carousel-item">
            <img src="../../assets/mersa.png" class="img-fluid w-50 d-block mx-auto" alt="mersa">
        </div>
        <div class="carousel-item">
            <img src="../../assets/StrangerThingsBook.png" class="img-fluid w-50 d-block mx-auto" alt="Stranger Things">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Encabezado 1  -->
<div class="barraSuperior">
    <h2>
        <b>
            ¡Autores destacados!
        </b>
    </h2>
</div>

<!-- Información de autores -->
<div class="container"> 
    <!-- col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4 
    col-12 col-lg-3 col-md-4 col-sm-6 
    -->
    <div class="row">
        <div *ngFor="let i of infoAutor" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top imagenTarjeta" alt="{{ i.alt }}">
                <div class="card-body">
                    <h4 class="card-title"> {{ i.nombre }} </h4>

                    <h6>Libros Escritos:</h6>
                    <p class="card-text"> {{i.libros}} </p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#verInfo"
                        (click)="verInfo(i)">
                        Ver mas
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Información de autores-->
<div class="modal fade" id="verInfo" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Autor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-imagen">
                    <img class="card-img-top" src="{{seleccionarTarjeta?.img}}" alt="{{seleccionarTarjeta?.alt}}">
                </div>

                <div class="modal-descripcion">
                    {{seleccionarTarjeta?.libros}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-action" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> <br>

<!-- <div class="contenedorTarjetas row align-items-center card-top"> -->
<div class="tituloh3">
    <h3 style="color: black;">
        <b>
            Los más buscados en librería
        </b>
    </h3>
</div> <br> <br>

<div class="container">
    <div class="row">
        <div *ngFor="let i of infoTarjeta2" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top imagenTarjeta2" alt="{{ i.alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.tituloLibro }}</h5>
                    <p class="card-text">
                        <!--
                        Usa el pipe 'number' para formatear con separador de miles
                        y agrega manualmente el símbolo $
                    -->
                        Precio: ${{ i.precio | number:'1.0-0' }}
                    </p>

                    <p class="card-text">{{ i.autor }}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#verMasInfo"
                        (click)="verInfo(i)">
                        Agregar al Carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<!-- Modal Libros-->
<div class="modal fade" id="verMasInfo" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Libro Seleccionado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-imagen">
                    <img src="{{seleccionarTarjeta?.img}}" alt="{{seleccionarTarjeta?.alt}}">
                </div>

                <div class="modal-descripcion">
                    {{seleccionarTarjeta?.autor}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Separación entre Libros y Música -->
<div class="container my-5"> 
    <!-- agregá un margen de 3 rem arriba y abajo -->
    <div class="row text-center">
        <div class="col-md-3 mb-3">
            <div class="p-4 shadow-sm rounded-3 bg-white">
                <div class="icon mb-2">
                    <i class="bi bi-truck" style="font-size: 2rem; color: #e63946;"></i>
                </div>
                <h5 class="fw-bold" style="color: black;">Métodos de envío</h5>
                <p style="color: black;">Envíos en el día. Envío gratis en compras superiores a $35.000</p>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="p-4 shadow-sm rounded-3 bg-white">
                <div class="icon mb-2">
                    <i class="bi bi-arrow-repeat" style="font-size: 2rem; color: #e63946;"></i>
                </div>
                <h5 class="fw-bold" style="color: black;">Puntos extra!</h5>
                <p style="color: black;">Sumá puntos para canjear en nuestras sucursales</p>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="p-4 shadow-sm rounded-3 bg-white">
                <div class="icon mb-2">
                    <i class="bi bi-percent" style="font-size: 2rem; color: #e63946;"></i>
                </div>
                <h5 class="fw-bold" style="color: black;">Promociones</h5>
                <p style="color: black;">Conocé nuestras promos bancarias</p>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="p-4 shadow-sm rounded-3 bg-white">
                <div class="icon mb-2">
                    <i class="bi bi-shield-lock" style="font-size: 2rem; color: #e63946;"></i>
                </div>
                <h5 class="fw-bold" style="color: black;">Sitio 100% seguro</h5>
                <p style="color: black;">Tu compra está protegida en todo momento</p>
            </div>
        </div>
    </div>
</div>

<!-- Encabezado 2 -->
<div class="tituloh3">
    <h3 style="color: black;">
        <b>
            ¡Artistas destacados!
        </b>
    </h3>
</div> <br> <br>

<!-- Información artistas -->
<div class="container">
    <div class="row">
        <div *ngFor="let i of infoArtista" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img class="card-img-top imagenTarjeta" src="{{ i.img }}"  alt="{{ i.alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.nombre }}</h5>
                    <p class="card-text">{{ i.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tituloh3">
    <h3 style="color: black;">
        <b>
            Los más buscados en música
        </b>
    </h3>
</div> <br> <br>


<!-- Álbumes más buscados -->
<div class="container">
    <div class="row">
        <div *ngFor="let i of infoMusica" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{ i.img }}" class="card-img-top" alt="{{ i.alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.tituloDisco }}</h5>
                    <p class="card-text">
                        <!--
                        Usa el pipe 'number' para formatear con separador de miles
                        y agrega manualmente el símbolo $
                    -->
                        Precio: ${{ i.precio | number:'1.0-0' }}
                    </p>

                    <p class="card-text">{{ i.artista }}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal"
                        data-bs-target="#verMasInformacion" (click)="verMasInformacion(i)">
                        Agregar al Carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Albumes más vendidos -->
<div class="modal fade" id="verMasInformacion" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Álbum Seleccionado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-imagen">
                    <img src="{{selectCard?.img}}" alt="{{selectCard?.alt}}">
                </div>

                <div class="modal-descripcion">
                    {{selectCard?.artista}} <br>
                    Album: {{selectCard?.tituloDisco}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>